<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2">
      <table>
        <thead class="idea-head">
          <h1 class="table-title">All Ideas</h1>
          <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Quality</th>
          </tr>
        </thead>
        <tbody class="idea-body">
          <% @ideas.each do |idea| %>
          <tr class="idea">
            <td><%= idea.title %></td>
            <td><%= idea.body.truncate(100, separator: ' ') %></td>
            <td><%= idea.rating %></td>
          </tr>
          <% end %>
        </tbody>
      </table><br>
      <div class="col-md-8 idea-form">
        <div class="form-group">
          <input class="form-control" type="text" id="idea-description" placeholder="Enter you next idea">
        </div>
        <input class="btn btn-success pull-center" id="create-idea" type="button" name="submit" value="Create Idea">
      </div>
    </div>
  </div>
</div>
