<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2">
      <table>
        <thead class="idea-head">
          <h1 class="table-title">All Ideas</h1>
          <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Quality</th>
          </tr>
        </thead>
        <tbody class="idea-body">
          <% @ideas.each do |idea| %>
          <tr class="idea">
            <td><%= idea.title %></td>
            <td><%= idea.body.truncate(100, separator: ' ') %></td>
            <td><%= idea.rating %></td>
          </tr>
          <% end %>
        </tbody>
      </table><br>
      <form class="idea-form" method="post" action="/api/v1/ideas">
        <input id="idea-title" type="text" placeholder="Enter new idea title" />
        <input id="idea-body" type="text" placeholder="Enter new idea description" />
        <input id="idea-quality" type="text" placeholder="Enter quality from 0 to 2 (0 = Swill, 1 = Plausible, 2 = Genius)" />
        <input type="submit" value="Save" class="btn btn-success" />
      </form>
    </div>
  </div>
</div>
